div {
    font-family: 'Arial', Times, serif;
}

.app-component {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25em;
    height: auto;
    padding: 7px;
}

.main-content {
    padding: 20px;
}
