div {
    font-family: 'Arial', Times, serif;
}

.app-component {
    position:absolute;
    top:10%;
    left:40%;
    margin-top:-50px;
    margin-left:-50px;
}

.main-content {
    padding: 20px;
}
